# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ======================
# Virtual Environments
# ======================
.venv/
venv/
ENV/
env/

# ======================
# IDE / Editor
# ======================
.idea/
.vscode/
*.iml

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Data & Model Files
# ======================
dataset/
data/
datasets/

*.pth
*.pt
*.ckpt
*.h5
*.onnx

# ======================
# Experiment Outputs
# ======================
runs/
outputs/
checkpoints/
wandb/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Misc
# ======================
*.tmp
*.swp